<h2 class="stats-header">Overview</h2>
<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      <%= @net_profit %>
    </div>
    <div class="label">
      Net Profit
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%= @discounts_given %>
    </div>
    <div class="label">
      Discounts Given
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%= @gross_sales_removing_discounts %>
    </div>
    <div class="label">
      Gross Sales (without considering discounts)
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%= @unaccounted_for_sales %>
    </div>
    <div class="label">
      Unaccounted For Sales
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%= @total_sales %>
    </div>
    <div class="label">
      Total Sales
    </div>
  </div>
</div>

<hr class="overview-divider"/>

<h2 class="stats-header">The last 7 days</h2>
<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      <%= @stats[:last_7_days][:sales_per_day] %>
      <%= good_or_bad_stat(@stats[:last_7_days][:sales_per_day], @stats[:last_30_days][:sales_per_day]) %>
    </div>
    <div class="label">
      Avg Sales Per Day
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <%= @stats[:last_7_days][:avg_drinks_sold_per_day] %>
      <%= good_or_bad_stat(@stats[:last_7_days][:avg_drinks_sold_per_day], @stats[:last_30_days][:avg_drinks_sold_per_day]) %>
    </div>
    <div class="label">
      Avg Drinks Sold Per Day
      <%=  %>
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <%= @stats[:last_7_days][:average_sale_value] %>
      <%= good_or_bad_stat(@stats[:last_7_days][:average_sale_value], @stats[:last_30_days][:average_sale_value]) %>
    </div>
    <div class="label">
      Avg Sale Value
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <%= @stats[:last_7_days][:average_items_sold] %>
      <%= good_or_bad_stat(@stats[:last_7_days][:average_items_sold], @stats[:last_30_days][:average_items_sold]) %>
    </div>
    <div class="label">
      Avg Items Sold
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <%= @stats[:last_7_days][:most_drinks_sold] %>
      <%= good_or_bad_stat(@stats[:last_7_days][:most_drinks_sold], @stats[:last_30_days][:most_drinks_sold]) %>
    </div>
    <div class="label">
      Most Drinks Sold
    </div>
  </div>
</div>

<h2 class="stats-header">The last 30 days</h2>
<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      <%= @stats[:last_30_days][:sales_per_day] %>
      <%= good_or_bad_stat(@stats[:last_30_days][:sales_per_day], @stats[:overall][:sales_per_day]) %>
    </div>
    <div class="label">
      Avg Sales Per Day
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <%= @stats[:last_30_days][:avg_drinks_sold_per_day] %>
      <%= good_or_bad_stat(@stats[:last_30_days][:avg_drinks_sold_per_day], @stats[:overall][:avg_drinks_sold_per_day]) %>
    </div>
    <div class="label">
      Avg Drinks Sold Per Day
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <%= @stats[:last_30_days][:average_sale_value] %>
      <%= good_or_bad_stat(@stats[:last_30_days][:average_sale_value], @stats[:overall][:average_sale_value]) %>
    </div>
    <div class="label">
      Avg Sale Value
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <%= @stats[:last_30_days][:average_items_sold] %>
      <%= good_or_bad_stat(@stats[:last_30_days][:average_items_sold], @stats[:overall][:average_items_sold]) %>
    </div>
    <div class="label">
      Avg Items Sold
    </div>
  </div>

  <div class="statistic">
    <div class="value">
      <%= @stats[:last_30_days][:most_drinks_sold] %>
      <%= good_or_bad_stat(@stats[:last_30_days][:most_drinks_sold], @stats[:overall][:most_drinks_sold]) %>
    </div>
    <div class="label">
      Most Drinks Sold
    </div>
  </div>
</div>

<h2 class="stats-header">Overall</h2>
<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      <%= @stats[:overall][:sales_per_day] %>
    </div>
    <div class="label">
      Avg Sales Per Day
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%= SaleItem.average_drinks_sold_per_day %>
    </div>
    <div class="label">
      Avg Drinks Sold Per Day
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%= @stats[:overall][:average_sale_value] %>
    </div>
    <div class="label">
      Avg Sale Value
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%= @stats[:overall][:average_items_sold] %>
    </div>
    <div class="label">
      Avg Items Sold
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <%= @stats[:overall][:most_drinks_sold] %>
    </div>
    <div class="label">
      Most Drinks Sold
    </div>
  </div>
</div>

<main class="charts">
  <div class="chart">
    <h4>Avg Sales Per Day</h4>
    <%= column_chart SaleItem.average_per_day_of_week %>
  </div>

  <div class="chart">
    <h4>UAH Per Day</h4>
    <%= line_chart Sale.group_by_day(:pos_datetime).sum(:pos_total) %>
  </div>

  <div class="chart">
    <h4>Sales Per Month</h4>
    <%= line_chart Sale.group_by_month(:pos_datetime).sum(:pos_total) %>
  </div>

  <div class="chart">
    <h4>Avg Sales During Time</h4>
    <%= column_chart Sale.average_sale_during_time %>
  </div>
</main>

<%= column_chart @drink_with_total.to_a.sort {|a, b| b[1] <=> a[1]} %>
