<%= form_for [@combined, @combined_item] do |form| %>
  <% if combined_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(combined_item.errors.count, "error") %> prohibited this combined_item from being saved:</h2>

      <ul>
        <% combined_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :receipt_id %>
    <%= select_tag :receipt_id, options_for_select(options_for_receipt_and_kitchen_item), include_blank: true %>

    <p>-- or --</p>

    <%= label_tag :combined_record_id %>
    <%= select_tag :combined_record_id, options_for_select(options_for_combined_itemable), include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :quantity_scale %>
    <%= form.text_field :quantity_scale %>
  </div>

  <%= form.hidden_field :combined_id, value: @combined.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
