<%= form_for [@recipe, @recipe_combined_item] do |form| %>
  <% if recipe_combined_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_combined_item.errors.count, "error") %> prohibited this recipe_combined_item from being saved:</h2>

      <ul>
        <% recipe_combined_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :recipe_id, value: @recipe.id %>

  <div class="field">
    <%= form.label :combined_id %>
    <%= form.select :combined_id, options_from_collection_for_select(Combined.all, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
