<p id="notice"><%= notice %></p>

<h1>Recipes</h1>
<div role="list" class="ui middle aligned list">
  <% @recipes.each do |recipe| %>
      <div role="listitem" class="item recipe__item">
        <main>
          <% if recipe.photo.attached? %>
            <%= image_tag recipe.photo, class: 'ui avatar image' %>
          <% end %>
          <%= link_to recipe.name, url_for(recipe), class: 'header' %>
        </main>

        <aside>
          <td><%= link_to 'Edit', edit_recipe_path(recipe), class: 'ui button' %></td>
          <td><%= link_to 'Destroy', recipe, method: :delete, data: {confirm: 'Are you sure?'}, class: 'ui button' %></td>
        </aside>
      </div>
  <% end %>
</div>

<%= link_to 'New Recipe', new_recipe_path %>
