<p id="notice"><%= notice %></p>

<h2 class="ui header">
  Recipe
  <div class="sub header"><%= @recipe.name %></div>
</h2>

<table class="ui celled table compact">
  <thead>
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Cost</th>
  </tr>
  </thead>

  <tbody>
  <% @recipe.recipe_items.each do |recipe_item| %>
    <tr>
      <td><%= recipe_item.inventory_item.kitchen_item.name %></td>
      <td><%= recipe_item.quantity %> <%= recipe_item.quantity_scale %></td>
      <td><%= recipe_item.cost %></td>
      <td><%= link_to 'Show', [recipe_item.recipe, recipe_item] %></td>
      <td><%= link_to 'Edit', edit_recipe_recipe_item_path(recipe_item.recipe, recipe_item) %></td>
      <td><%= link_to 'Destroy', [recipe_item.recipe, recipe_item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_new_button new_recipe_recipe_item_path(@recipe), "New Recipe Item" %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
