<p id="notice"><%= notice %></p>

<p>
  <strong>Kitchen item:</strong>
  <%= @inventory_item.kitchen_item_id %>
</p>

<p>
  <strong>Count:</strong>
  <%= @inventory_item.count %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @inventory_item.quantity %>
</p>

<p>
  <strong>Price:</strong>
  <%= @inventory_item.price %>
</p>

<p>
  <strong>Quantity scale:</strong>
  <%= @inventory_item.quantity_scale %>
</p>

<%= link_to 'Edit', edit_inventory_item_path(@inventory_item) %> |
<%= link_to 'Back', inventory_items_path %>
