<%= form_for [@recipe, @recipe_item] do |form| %>
  <% if recipe_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_item.errors.count, "error") %> prohibited this recipe_item from being saved:</h2>

      <ul>
        <% recipe_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :receipt_id %>
    <%= form.select :receipt_id, options_for_receipt_and_kitchen_item %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :quantity_scale %>
    <%= form.select :quantity_scale, quantity_scale_options %>
  </div>


  <%= form.hidden_field :recipe_id, value: @recipe.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
