<%= form_with(model: processed_item, local: true) do |form| %>
  <% if processed_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(processed_item.errors.count, "error") %> prohibited this processed_item from being saved:</h2>

      <ul>
        <% processed_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :receipt_id %>
    <%= form.select :receipt_id, options_for_receipt_and_kitchen_item %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <h3>Before Being Processed</h3>

  <div class="field">
    <%= form.label :initial_quantity %>
    <%= form.text_field :initial_quantity %>
  </div>

  <div class="field">
    <%= form.label :initial_scale %>
    <%= form.select :initial_scale, quantity_scale_options %>
  </div>

  <h3>After Being Processed</h3>

  <div class="field">
    <%= form.label :converts_to_quantity %>
    <%= form.text_field :converts_to_quantity %>
  </div>

  <div class="field">
    <%= form.label :converts_to_scale %>
    <%= form.select :converts_to_scale, quantity_scale_options %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
