<p id="notice"><%= notice %></p>

<p>
  <strong>Receipt:</strong>
  <%= @processed_item.receipt_id %>
</p>

<p>
  <strong>Converts to quantity:</strong>
  <%= @processed_item.converts_to_quantity %>
</p>

<p>
  <strong>Converts to scale:</strong>
  <%= @processed_item.converts_to_scale %>
</p>

<%= link_to 'Edit', edit_processed_item_path(@processed_item) %> |
<%= link_to 'Back', processed_items_path %>
