<%= form_with(model: receipt, local: true) do |form| %>
  <% if receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from
        being saved:</h2>

      <ul>
        <% receipt.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :kitchen_item_id %>
    <%= form.select :kitchen_item_id, options_from_collection_for_select(KitchenItem.all, :id, :name, receipt.kitchen_item_id), prompt: "Select an item (optional)" %>
  </div>

  <div class="field">
    <span>(Only required for non-kitchen items)</span>
    <%= form.label :detail %>
    <%= form.text :detail %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, options_from_collection_for_select(Category.all, :id, :name, receipt.category_id), required: true, prompt: "Select a category"%>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count %>
  </div>

  <div class="field">
    <%= form.label :quantity_per_item %>
    <%= form.text_field :quantity %>
  </div>

  <div class="field">
    <%= form.select :quantity_scale, quantity_scale_options %>
  </div>

  <div class="field">
    <%= form.label :total_price, for: :receipt_price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
