<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
        <% sale.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field sales__recipe-item">
    <%= form.label :recipe_id %>
    <%= associated_recipe_radios %>
  </div>

  <div>
    <%= form.label :receipt_number %>
    <%= form.text_field :receipt_number %>
  </div>

  <div class="field">
    <%= form.label :discount_percentage %>
    <%= form.number_field :discount_percentage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  const form = document.querySelector('form')
  const radioChoices = document.querySelectorAll('.sales__recipe-item img');
  const recipeItemContainer = document.querySelector('.sales__recipe-item');
  console.log(radioChoices);

  recipeItemContainer.addEventListener('click', () => {
    form.submit();
  });
</script>
