<p id="notice"><%= notice %></p>

<h1>Sales</h1>

<div class="ui horizontal divider">Items</div>

<% @sales.each do |sale| %>
  <div class="sale">
    <div class="sale__header">
      <span>Total: <%= sale.pos_total %></span>
      <span><%= sale.pos_fiscal_number %></span>
      <span><%= sale.pos_datetime %></span>
  <!--      <button><%#= link_to 'Show', sale %></button>-->
  <!--      <button><%#= link_to 'Edit', edit_sale_path(sale) %></button>-->
  <!--      <button><%#= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></button>-->
    </div>
    <ul>
      <% sale.sale_items.each do |item| %>
        <li><b><%= item.quantity %> x</b> <%= item.name %> @ <%= item.pos_sum %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<br>

<%= link_to 'New Sale', new_sale_path %>
