<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @recipe_processed_item.recipe_id %>
</p>

<p>
  <strong>Processed item:</strong>
  <%= @recipe_processed_item.processed_item_id %>
</p>

<%= link_to 'Edit', edit_recipe_processed_item_path(@recipe_processed_item) %> |
<%= link_to 'Back', recipe_processed_items_path %>
