<!DOCTYPE html>
<html>
<head>
  <title>ShopTrack</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
</head>

<body>
<div class="ui menu">
  <div class="header item">KitchenTrack</div>

  <section class="right menu">
    <%= link_to kitchen_items_path, class: "item" do %>
      <i aria-hidden="true" class="list ul icon"></i> Items
    <% end %>
    <%= link_to receipts_path, class: "item" do %>
      <i aria-hidden="true" class="box icon"></i> Receipt
    <% end %>
    <%= link_to processed_items_path, class: "item" do %>
      <i aria-hidden="true" class="box icon"></i> Processed
    <% end %>
    <%= link_to combineds_path, class: "item" do %>
      <i aria-hidden="true" class="box icon"></i> Combined
    <% end %>
    <%= link_to recipes_path, class: "item" do %>
      <i aria-hidden="true" class="food icon"></i>Recipes
    <% end %>
    <%= link_to sales_path, class: "item" do %>
      <i aria-hidden="true" class="money icon"></i>Sales
    <% end %>
  </section>
</div>

<main class="ui container">
  <%= yield %>
</main>
</body>
</html>
